.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 40px;
  align-items: center;
  justify-items: center;
}

.gallery img {
  max-width: 70%;
  width: 100%;
}

.gallery a {
  text-decoration: none;
  border: none;
  background: none;
  text-align: center;
  /*width: 100%;*/
}

@media screen and (max-width: 700px) {
  .gallery{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
  }
  .gallery .freedom,
  .gallery .gfc,
  .gallery .press,
  .gallery .testcard
  {
    display: none;
  }
}



@media screen and (max-width: 500px) {
  .gallery{
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
  }

  .gallery img {
    max-width: 60%;
  }


  .gallery .bs3,
  .gallery .film,
  .gallery .freedom,
  .gallery .gfc,
  .gallery .morleys,
  .gallery .press,
  .gallery .roses,
  .gallery .testcard
  {
    display: none;
  }
}

/*@media screen and (max-width: 649px) {
  .gallery{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery img:nth-child(2),
  .gallery img:nth-child(3),
  .gallery img:nth-child(5),
  .gallery img:nth-child(10),
  .gallery img:nth-child(14),
  .gallery img:nth-child(18)
  {
    display: none;
  }
}*/


